<!DOCTYPE html>
<html lang="en">
<head th:replace="snippets.html :: name_head"></head>
<title> Inventory Report </title>
<body>
<nav th:replace="snippets.html :: name_navbar"></nav>
<div class="container" style="margin-bottom:20px;">
    <div th:replace="snippets.html :: name_toast"></div>

    <br>
    <br>
    <div class="modal" tabindex="-1" role="dialog" id="inventory-report-filter-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filter Inventory Report</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filter-brand-category-form">
                        <div class="form-group">
                            <label for="inputFilterBrand">Brand</label>
                                <select type="text" class="form-control" name="brand" id="inputFilterBrand">
                                    <option>All</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="inputFilterCategory">Category</label>
                                <select type="text" class="form-control" name="category" id="inputFilterCategory">
                                    <option>All</option>
                                </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="get-inventory-report"><i class="bi bi-funnel-fill"></i></button>
                </div>
            </div>
        </div>
    </div>


    <div class="row card mx-auto" style="width: 40rem;color:white;background-color:#343a40!important;">
        <div class="space">
            <!--      Blank row-->
        </div>


        <div class="col-12" id="main">
            <h3 class="alignleft">Inventory Report</h3>
            <div class="alignright">
                <button type="button" class="btn btn-primary" id="open-inventory-report-filter-modal" data-toggle="modal" data-target="#inventory-report-filter-modal" ><i class="bi bi-funnel-fill"></i></button>
            </div>

        </div>

        <div class="space">
            <!--      Blank row -->
        </div>
    </div>
    <div class="space">
        <!--      Blank row-->
    </div>

    <div id="product-div">
        <!--    brand category filter-->


        <div class="space">
            <!--      Blank row-->
        </div>
        <button type="button" class="btn btn-success" style="display:none;" id="download-report">Download report</button>
        <div class="half-space">
            <!--      Blank row-->
        </div>
        <div id="inventory-report-table-container" style="display:none;">
        <table class="table table-dark table-striped table-hover" id="inventory-report-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
</div>
<div class="space"></div>
<div class="space"></div>
<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/report.js}"/>
</script>
</body>

</html>