<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head">
</head>

<body>

<nav th:replace="snippets.html :: name_navbar"></nav>
<div th:replace="snippets.html :: name_toast"></div>

<div class="container" style="margin-bottom:20px;">

    <div class="modal" id="add-orderItems-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Order Items for <span id="customerName"></span></h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="orderItem-form">
                        <div class="form-group">
                            <label for="inputOrderId">Order ID</label>
                            <input class="form-control" id="inputOrderId" name="orderId" placeholder="Enter order ID"
                                   readonly type="number">
                        </div>
                        <div class="form-group">
                            <label for="inputBarcode">Barcode</label>
                            <input class="form-control" id="inputBarcode" maxlength="15" name="barcode" placeholder="Enter barcode of product"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity">Quantity</label>
                            <input class="form-control" id="inputQuantity" max="99"
                                   min="1" name="quantity"
                                   onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter product's quantity" type="number">
                        </div>
                        <div class="form-group">
                            <label for="inputSellingPrice">Selling Price</label>
                            <input class="form-control" id="inputSellingPrice" max="999999" min="1" name="sellingPrice"
                                   placeholder="Enter product's selling price" step=".01"
                                   type="number">
                        </div>
                        <div class="half-space">
                            <!--      Blank row -->
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="add-orderItem" style="margin-left:20px"
                            type="button" data-placement="bottom" data-toggle="tooltip" title="Add order item"><i class="bi bi-plus"></i></button>

                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <div class="row card mx-auto" style="width: 40rem; color:white;background-color:#343a40!important;">
        <div class="space">
            <!--      Blank row-->
        </div>
        <div class="col-12" id="main">
            <h3 class="alignleftt" id="customer-container">Order Items for <span id="customerName2"></span></h3>
            <div class="alignright">
                <button class="btn btn-primary hideUponInvoiced" data-target="#add-orderItems-modal" data-toggle="modal"
                        id="open-orderItem-modal" type="button"><i class="bi bi-file-earmark-plus"></i>
                </button>
                <!--                <button type="button" class="btn btn-success hideUponInvoiced" id="refresh-data" ><i class="bi bi-arrow-clockwise"></i></button>-->
            </div>
        </div>
        <div class="half-space">
            <!--      Blank row -->
        </div>
    </div>


    <!--        <h3 class="text-center"></h3>-->

    <div class="space">
        <!--      Blank row-->
    </div>
    <button class="btn btn-lg btn-success hideUponInvoiced" data-placement="bottom" data-toggle="tooltip" title=" Invoice Order" id="invoice-order" ><i class="bi bi-receipt-cutoff"></i></button>
    <button class="btn btn-lg btn-dark hideUponInvoiced" data-placement="bottom" data-toggle="tooltip" id="updateCustomerDetails"
            style="margin-left:20px;" title="Update Customer Details" type="button">
        <i class="bi bi-pen"></i>
    </button>
    <!--  </card>-->
    <div class="row text-danger" id="logg">

    </div>
    <div class="space">
        <!--      Blank row-->
    </div>

    <!-- Blank Row -->

    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-dark table-striped table-hover" id="orderItem-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Quantity</th>
                    <th id="invoiced-action" scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- cart Edit Modal -->
    <div class="modal" id="edit-orderItem-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit order item </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="orderItem-edit-form">
                        <div class="form-group">
                            <label>Barcode</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="barcode" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Product Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="productName" readonly type="text">
                            </div>
                        </div>
                        <input class="form-control" name="orderId" type="hidden">
                        <input class="form-control" name="orderItemId" type="hidden">
                        <div class="form-group">
                            <label for="inputSellingPrice">Selling Price</label>
                            <div class="col-sm-10">
                                <input class="form-control" max="999999" min="1" name="sellingPrice" step=".01"
                                       type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputQuantity">Quantity</label>
                            <div class="col-sm-10">
                                <input class="form-control" max="99"
                                       min="1" name="quantity"
                                       onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter product's quantity" type="number">
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-order-item" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="edit-customer-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Customer Details </h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="customer-edit-form">

                        <div class="form-group">
                            <label>Customer Name</label>
                            <input class="form-control" maxlength="20" name="customerName" type="text">
                        </div>
                        <div class="form-group">
                            <label>Mobile No.</label>
                            <input class="form-control" maxlength="10" name="customerPhone" pattern="[1-9]{1}[0-9]{9}"
                                   title="Error Message" type="text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" data-dismiss="modal" id="update-customer" type="button">Update
                    </button>
                </div>
            </div>
        </div>
    </div>

</div> <!-- Container end-->

<div class="space"></div>
<div class="space"></div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/orderItem.js}"/>
</script>

</body>

</html>