<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Users</title>
<body>

<nav th:replace="snippets.html :: name_navbar"></nav>

<div class="container">

    <div th:replace="snippets.html :: name_toast"></div>

    <div class="modal" id="create-user-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form id="user-form">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input class="form-control" id="inputEmail" name="email" placeholder="Enter user email"
                                   type="email">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input class="form-control" id="inputPassword" name="password" placeholder="Enter user's password"
                                   type="text">
                        </div>
                        <div class="half-space">
                            <!--      Blank row -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="add-user" style="margin-left:20px"
                            type="button" data-placement="bottom" data-toggle="tooltip" title="Add user"><i class="bi bi-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row card mx-auto" style="width: 40rem;  color:white;background-color:#343a40!important;">
        <div class="space">
            <!--      Blank row-->
        </div>


        <div class="col-12" id="main">
            <h3 class="alignleft">Users </h3>
            <div class="alignright">
                <button class="btn btn-primary" data-target="#create-user-modal" data-toggle="modal" id="open-user-modal"
                        type="button"><i class="bi bi-file-earmark-plus"></i></button>
            </div>

        </div>

        <div class="space">
            <!--      Blank row -->
        </div>
    </div>
    <div class="half-space">
        <!--      Blank row-->
    </div>
    <!--  </card>-->
    <div class="space">
        <!--      Blank row-->
    </div>

    <!-- Blank Row -->

    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-dark table-striped table-hover" id="user-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

        </div>
    </div>

    <!-- User Edit Modal -->
    <div class="modal" id="edit-user-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-edit-form">
                        <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" name="email" type="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input class="form-control" name="password" type="text">
                        </div>
                        <input name="userId" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" id="update-user" type="button">Update</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- Container end-->
<div class="space"></div>
<div class="space"></div>
<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/user.js}"/>
</script>

</body>

</html>